

body{
    font-family: Helvetica;
    background-image: url('https://static.wikia.nocookie.net/postal/images/4/45/Bridge_1.webp/revision/latest?cb=20230318200710');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}



.fixedPostal{
    margin-left: 1100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
https://static.wikia.nocookie.net/postal/images/7/77/Dude-P1.png/revision/latest/scale-to-width-down/250?cb=20221115145958
}
.sidenav {

  width: 190px;
  height:600px;
  position: fixed;
  z-index: 1;
  top: 49px;
  left: 10px;
  background: #8a2929;
  overflow-x: hidden;
  padding: 8px 0;
  
}

.sidenav a {
  padding: 9px 8px 6px 16px;
  text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: hsl(350, 82%, 48%);
  display: block;

}

.sidenav a:hover {
  color: #441118;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.firstText{
  top:2px;
margin-top: 50px;
color:#dfa9a0;
margin-bottom: 120px;
     margin-left: 270px;
     position: relative;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.yeah{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


  /* Navbar container */
        .navbar {
          
          position:relative;
        
          width:100%;
            overflow: hidden;
            background-color: #832121;
            
        }

        /* Navbar links */
        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            
        }

        /* Dropdown container */
        .dropdown {
            float: left;
            overflow: hidden;
          
        }

        /* Dropdown button */
        .dropdown .dropbtn {
            font-size: 16px;    
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            cursor: pointer;
             font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px rgba(119, 41, 41, 0.2);
            z-index: 1;
            
           
        }

        /* Dropdown links */
        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
@font-face {
  font-family: horizon; /* set name */
  src: url(horizontale.woff); /* url of the font */
}
.header{

          background-image: url(
"https://t4.ftcdn.net/jpg/01/06/42/39/360_F_106423986_UOvQIpPgjrQBfer38QbqO55hQPl0uJHE.jpg");
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    color: #893829;
     font-size: 70px;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     letter-spacing: 20px;
     margin-bottom: 120px;
     margin-left: 270px;
     position: relative;
     top:5px;
}
.footer {
    position: fixed;
    margin-top: 420px;
    top: 250;
    left: 100%;
    margin-left: -210px;
    z-index: 11000;
}

.footer img{
    width: 300px;
    height: 300px;
}
.header:hover {
  color: rgb(78, 18, 18);
  
   
}
        /* Show dropdown on hover */
        .dropdown:hover .dropdown-content {
            display: block;
            

        }

        /* Change color on hover */
        .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: #9c2f2f;
            color: white;

        }
     
   #content {
  position:relative;
}

.ribbon {
  position:absolute;
  top:0;
  right:0;
} 


  